.o_main_navbar, .o_user_menu, .o_debug_manager ,.btn-primary,.btn-fill-primary{
    background-color: rgb(153, 9, 45);
    color: white;
}

.dropdown-menu .dropdown-toggle.focus, .o-dropdown-menu .dropdown-toggle.focus, .dropdown-menu .dropdown-item.focus, .o-dropdown-menu .dropdown-item.focus{
    color: white;
    background-color: rgb(252, 116, 116);
}