<odoo>
    <data>
        <menuitem id="menu_futbol_master_root"
                  name="Futbol Master"
                  sequence="10"/>

            <menuitem id="menu_equipo_root"
                    name="Equipos"
                    parent="menu_futbol_master_root"
                    sequence="1"/>

                <menuitem id="menu_equipo_template"
                        name="Equipo"
                        parent="menu_equipo_root"
                        sequence="1"
                        action="equipo_action_window"/>
                
                <!--
                <menuitem id="menu_club_template"
                        name="Club"
                        parent="menu_equipo_root"
                        sequence="2"
                        action="poketype_action_window"/>

                <menuitem id="menu_partidos_template"
                        name="Partidos"
                        parent="menu_equipo_root"
                        sequence="3"
                        action="futbol_master_action_window"/>

                <menuitem id="menu_estadio_template"
                        name="Estadios"
                        parent="menu_equipo_root"
                        sequence="4"
                        action="futbol_master_action_window"/>
                -->

            <menuitem id="menu_persona_root"
                    name="Persona"
                    parent="menu_futbol_master_root"
                    sequence="2"/>

                <menuitem id="menu_entrenador_template"
                        name="Entrenadores"
                        parent="menu_persona_root"
                        sequence="1"
                        action="entrenador_action_window"/>

                <menuitem id="menu_jugador_template"
                        name="Jugadores"
                        parent="menu_persona_root"
                        sequence="2"
                        action="jugador_action_window"/>
    </data>
</odoo>